{% extends "blog/base.html" %}
{% block title %}
Login
{% endblock %}
{% block blog-main %}
<div class="login-block">
	<div class="col-sm-offset-1 page-header">
		<h1>Login</h1>
	</div>
	{% if form.errors %}
	<div class="alert alert-danger">Your username and password didn't match. Please try again</div>
	{% endif %}
	<form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		<div class="form-group">
			<label class="col-md-2 col-sm-2 control-label" for="{{ form.username.id_for_label }}">Username: </label>
			<div class="col-md-4 col-sm-4">
				<input type="text" class="form-control" id="{{ form.username.id_for_label }}" value="" name="{{ form.username.name }}" placeholder="Username">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 col-sm-2 control-label" for="{{ form.password.id_for_label }}">Password: </label>
			<div class="col-md-4 col-sm-4">
				<input type="password" class="form-control" id="{{ form.password.id_for_label }}" value="" name="{{ form.password.name }}" placeholder="Password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-4">
				<button type="submit" class="btn btn-primary">Login</button>
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
		</div>
	</form>
</div>
{% endblock %}
