<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %} Index - gaoyb7's blog{% endblock %}</title>
		<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="data:text/css;charset=utf-8," data-href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">

		<link href="//cdn.bootcss.com/highlight.js/8.9.1/styles/github.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<!--<link rel='stylesheet' id='twentytwelve-fonts-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext' type='text/css' media='all' />-->

		<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="//cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script src="//cdn.bootcss.com/highlight.js/9.0.0/highlight.min.js"></script>
		<script src="//cdn.bootcss.com/jquery.sticky/1.0.3/jquery.sticky.js"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</head>

	<body>
		<div class="modal fade" id="modal-demo">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4>Modal title</h4>
					</div>
					<div class="modal-body">
						<p>This is a modal demo</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" type="button" data-dismiss="modal">
							ok
						</button>
					</div>
				</div>
			</div>
		</div>


		<nav class="navbar navbar-default navbar-fixed-top" id="sticker">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="{% url 'blog:main_page' %}" class="navbar-brand">GAOYB7'S BLOG</a>
				</div>

				<div class="collpase navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'blog:post_list' %}" id="posts-navbar">Posts</a></li>
						{% if user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Test menu<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a id="ajax-get-test" href="#">Ajax Get method</a></li>
								<li><a id="ajax-post-test" href="#">Ajax Post method</a></li>
								<li><a href="#modal-demo" role="button" class="btn" data-toggle="modal">Launch demo modal</a></li>
							</ul>
						</li>
						{% endif %}
						<li><a href="{% url 'blog:about_me' %}">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li>
							<a href="{% url 'blog:post_new' %}" data-toggle="tooltip" data-placement="left" title="New Post">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
						</li>
						<li>
							<a href="{% url 'blog:post_draft_list' %}" data-toggle="tooltip" data-placement="left" title="Draft list">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</li>
						<li>
							<a href="{% url 'django.contrib.auth.views.logout' %}" data-toggle="tooltip" data-placement="left" title="Logout">
								<span class="glyphicon glyphicon-log-out"></span>
							</a>
						</li>
						{% else %}
						<li>
							<a href="{% url 'django.contrib.auth.views.login' %}" data-toggle="tooltip" data-placement="left" title="Login">
								<span class="glyphicon glyphicon-lock"></span>
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-md-9">
					{% block blog-main %}
					{% endblock %}
				</div>

				<div class="col-md-3">
					{% block blog-sidebar %}
					<!-- Recent Posts Well -->
					<div class="well">
						<h4>Recent Posts</h4>
						<div class="row">
							<div class="col-md-10">
								<ul class="list-unstyled" id="recent-posts-list">
								</ul>
							</div>
						</div>
					</div>

					<!-- Tag Cloud Well -->
					<div class="well">
						<h4>Tag Cloud</h4>
						<div class="row">
							<div class="col-md-10">
								<ul class="list-unstyled" id="tag-cloud-list">
								</ul>
							</div>
						</div>
					</div>
					{% endblock %}
				</div>
			</div>
		</div>
	</body>

</html>
