{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block blog-main %}

<div class="row">
	<div class="col-md-12">
		<h2>New message:</h2>
		<hr>
		<form method="POST" id="msgForm">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group">
				{# {{ field.errors }} #}
				{{ field.label_tag }}
				{{ field }}
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

<div class="row comment-list">
	<hr>
	{% for msg in messages %}
	<div class="media" id="message-id-{{ msg.id }}" >
		<a class="pull-left" data-toggle="tooltip" data-placement="left" title="{{ msg.email }}">
			<img class="media-object" src="{% static 'img/3frdQ2L.png' %}" alt="">
		</a>
		<div class="media-body">
			<h4 class="media-heading"> {{ msg.username }}
				<small>{{ msg.date_time }}</small>
			</h4>
			{{ msg.message }}
		</div>
	</div>
	{% endfor %}
	<hr>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
	$('#msgForm').submit(function(e) {
		$('#msgForm span').remove();
		$('#msgForm .form-group').removeClass('has-error');
		var is_valid = true;

		$('.form-group').map(function(id, p) {
			var lab = $(p).find('label');
			var ele = $('#'+lab.attr('for'));
			if (ele.val().trim() === "") {
				$(p).addClass('has-error').append(
						'<span class="help-block">' + $(lab).attr('for').substring(3) + ' field is empty</span>');
				is_valid = false;
			}
			if (lab.attr('for') === 'id_email') {
				var re = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
				var mail_addr = ele.val().trim();
				if (mail_addr != "" && !re.test(mail_addr)) {
					$(p).addClass('has-error').append(
							'<span class="help-block">Please enter a valid email address.</span>');
					is_valid = false;
				}
			}
		});
		return is_valid;
	});
});
</script>
{% endblock %}
