{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block title %} 
Post - {{ post.title }} 
{% endblock %} 

{% block blog-main %}
<div class="row post-main">
	{% if not post.published_date %}
	<div class="alert alert-warning" role="alert">The article has not yet been released</div>
	{% endif %}
	<h1 class="blog-post-title"><a href="{% url 'blog:post_detail' post_id=post.id %}">{{ post.title }}</a></h1>

	<p class="tag-list">
		Tags: 
		{% for tg in post.get_tag_list %}
		<span class="label label-info">{{ tg }}</span>
		{% endfor %}
	</p>

	{% if post.published_date %}
	<p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published_date }}</p>
	{% else  %}
	<p><span class="glyphicon glyphicon-time"></span> Created on {{ post.create_date }}</p>
	{% endif %}

	<hr>
	<div id="post-text">
		<p> {{ post.text | safe }}</p>
	</div>
	<br>
	<br>

	<div align="right">
		<a type="button" class="btn btn-success" id="like-post"> <span class="glyphicon glyphicon-thumbs-up"></span> {{ post.like }} </a>
		<a type="button" class="btn btn-danger" id="dislike-post"> <span class="glyphicon glyphicon-thumbs-down"></span> {{ post.dislike }} </a>
		<a href="#new-comment-modal" type="button" class="btn btn-primary" data-toggle="modal"> <span class="glyphicon glyphicon-comment"></span> comment</a>
	</div>

	{% if user.is_authenticated %}
	<hr>
	<div align="right">
		{% if not post.published_date %}
		<a class="btn btn-default" href="{% url 'blog:post_publish' post_id=post.id %}">Publish</a>
		{% endif %}
		<a class="btn btn-default" href="{% url 'blog:post_edit' post_id=post.id %}">Edit</a>
		<a class="btn btn-default" href="{% url 'blog:post_remove' post_id=post.id %}">Delete</a>
	</div>
	{% endif %}

	<div class="modal fade" id="new-comment-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">New comment</h4>
				</div>
				<div class="modal-body">
					<form method="POST" id="new-comment" onsubmit="return false;">
						{% csrf_token %}
						{% for field in form %}
						<div class="form-group">
							{# {{ field.errors }} #}
							{{ field.label_tag }}
							{{ field }}
						</div>
						{% endfor %}
						<button class="btn btn-primary" id="comment-submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	{% if comment_count > 0 %}
	<div class="row comment-list">
		<hr>
		{% for comment in comment_list %}
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object" src="{% static 'img/3frdQ2L.png' %}" alt="">
			</a>
			<div class="media-body">
				<h4 class="media-heading"> {{ comment.username }}
					<small>{{ comment.date_time }}</small>
				</h4>
				{{ comment.comment }}
			</div>
		</div>
		{% endfor %}
		<hr>
	</div>
	{% endif  %}
</div>

<script>
	$(document).ready(function() {
		$.ajaxSetup({
			data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
		});

		$('#comment-submit').click(function() {
			$('#new-comment span').remove();
			$('#new-comment .form-group').removeClass('has-error');
			var username = $('#id_username').val();
			var email = $('#id_email').val();
			var comment = $('#id_comment').val();
			var is_valid = true;

			if (username === "") {
				$("#username").closest(".form-group").find("span").remove();
				$('#id_username').closest('.form-group').addClass('has-error').append(
						'<span class="help-block">Username field is empty</span>');
				is_valid = false
			}
			if (email === "") {
				$('#id_email').closest('.form-group').addClass('has-error').append(
						'<span class="help-block">Email field is empty</span>');
				is_valid = false
			}
			if (comment === "") {
				$('#id_comment').closest('.form-group').addClass('has-error').append(
						'<span class="help-block">Comment field is empty</span>');
				is_valid = false
			}

			if (is_valid) {
				var post_data = {
					'username': username,
					'email': email,
					'comment': comment
				};
				$.post("{% url 'blog:post_new_comment' post_id=post.id %}", post_data, function(data, status) {
					if (data === "success") {
						window.location.href="{% url 'blog:post_detail' post_id=post.id %}";
					} else {
						$('#id_email').closest('.form-group').addClass('has-error').append(
								'<span class="help-block">Please enter a valid email address.</span>');
					}
				});
			}
		});

		$('#like-post').click(function() {
			$.post("{% url 'blog:post_like' post_id=post.id %}", {}, function(data, status) {
				if (status === "success") {
					alert("Thank you!")
					$('#like-post').html('<span class="glyphicon glyphicon-thumbs-up"></span> ' + data);
				}
			});
		});

		$('#dislike-post').click(function() {
			$.post("{% url 'blog:post_dislike' post_id=post.id %}", {}, function(data, status) {
				if (status === "success") {
					alert("Thank you")
					$('#dislike-post').html('<span class="glyphicon glyphicon-thumbs-down"></span> ' + data);
				}
			});
		});

		$('#post-text table').addClass('table table-bordered');
	});
</script>
{% endblock %}
