{% extends 'blog/base.html' %}

{% block blog-main %}
{% if form %}
{{ form.media }}
{% endif %}
<div class="row">
	<div class="col-md-9">
		{% if error %}
		<div class="alert alert-danger" role="alert">Error: {{ error }}!</div>
		{% endif %}
		<h3>Upload File:</h3>
		<form method="POST" enctype="multipart/form-data" id="upload-file-form">
			{% csrf_token %}
			{% for field in form %}
			<div class="form-group">
				{{ field.errors }}
				{{ field.label_tag }}
				{{ field }}
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		<hr>
		<h3>File List:</h3>
		<ul class="list-group">
			{% for file in file_list %}
			<li class=list-group-item><span><a href="{{ file }}">{{ file }}</a></span> <span><a class="pull-right" href="" style="color:red;">delete</a></span></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
	$('#id_file').change(function() {
		$('#id_filename').val($(this).val())
	});
});
</script>
{% endblock %}
